black==25.9.0
fastapi==0.117.1
fastapi-cli==0.0.13
fastjsonschema==2.21.2
gpiozero==2.0.1
gunicorn==23.0.0
prometheus-client==0.23.1
RPi.GPIO==0.7.1
RTIMULib==7.2.1
sense-hat==2.6.0
uvicorn==0.37.0
webcolors==24.11.1
